<!-- Sidebar -->
<ul
class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
id="accordionSidebar"
>
<!-- Sidebar - Brand -->
<a
  class="sidebar-brand d-flex align-items-center justify-content-center"
  href="/"
>
<div class="sidebar-brand-icon">
  <img style="width: 100%;"
        class="img-profile"
          src="../../assets/img/logo2.svg"
  />
</div>
<div class="sidebar-brand-text mx-2">Cao đẳng Viễn Đông</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0" />

<!-- Nav Item - Dashboard
<li class="nav-item 
<% if (title==="index") { %>
      active
<% } %>">
  <a class="nav-link" href="/">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a
  >
</li> -->
<!-- Divider -->
<hr class="sidebar-divider" />
<!-- Nav Item - Forms -->
<li class="nav-item 
<% if (title==="Manager" || title ==="Student Details") { %>
  active
<% } %>">
  <a class="nav-link" href="/manager">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Forms</span></a
  >
</li>

<!-- Nav Item - Version -->
<li class="nav-item 
<% if (title==="Version manager") { %>
  active
<% } %>">
  <a class="nav-link" href="/version/manager">
    <i class="fas fa-fw fa-table"></i>
    <span>Version</span></a
  >
</li>

<!-- Nav Item - Reports -->
<li class="nav-item 
<% if (title==="Reports") { %>
  active
<% } %>">
  <a class="nav-link" href="/reports">
    <i class="fas fa-fw fa-bug"></i>
    <span>Error Reports</span></a
  >
</li>

<!-- Nav Item - Images 1 -->
<li class="nav-item 
<% if (title==="Gallery") { %>
  active
<% } %>">
  <a class="nav-link" href="/gallery">
    <i class="fas fa-fw fa-images"></i>
    <span>Gallery</span></a
  >
</li>


<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block" />
 
<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
</ul>
<!-- End of Sidebar -->