<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include('./partials/head.ejs') %>
  </head>
  <% if (title === 'login') { %>

  <body class="bg-gradient-primary">
    <div class="container"><%- include('./pages/login.ejs') %></div>
    <%-include('./partials/footer.ejs') %>
  </body>

  <% } else {%>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%- include('./components/sidebar.ejs',{title}) %>

      <!-- Content Wrapper -->
      <div
        id="content-wrapper"
        class="d-flex flex-column"
        style="overflow: visible"
      >
        <!-- Main Content -->
        <div id="content">
          <%- include('./components/topbar.ejs',{username}) %> <%
          if(message.length >0) {%>
          <div
            class="alert alert-primary alert-dismissible fade show"
            role="alert"
          >
            <%= message %>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <% } %> <%-body %>
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%-include('./partials/footer.ejs') %>
    <%if (title === "index") {%>
      <!-- Page level custom scripts -->
        <script src="../../assets/js/demo/chart-pie-demo.js"></script>
    <%}%>
  </body>
  <% } %>
</html>
