
  .sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  
  .sidebar-item {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      /* Position the items
      // &:nth-child(2) { top: 25%; }
      // &:nth-child(3) { top: 50%; }
      // &:nth-child(4) { top: 75%; } */
  }
  
  
  .make-me-sticky {
    position: -webkit-sticky;
      position: sticky;
      top: 0;
    padding: 0 15px;
  }
  
  
  
  /* Ignore This, just coloring */
  body {
    background: #fff;
  }
  
  article {
    background: #f1f1f1;
    border-radius: 12px;
    padding: 25px 0 600px;
  }
  
  
  .title-section, .content-section, .sidebar-section {
    background: #fff;
    /* // border-radius: 12px; */
     border: solid 10px #f1f1f1; 
  }
  
  .title-section {
    text-align: center;
    padding: 50px 15px;
    margin-bottom: 30px;
  }

  .sidebar-item {
    text-align: center;
  }

  .were {
    background: #fff;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0 100px; 
    border-bottom: solid 1px #fff;
  }


  div.gallery-vido:hover{
    border: 1px solid #777;
  }

  .my-search{
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-weight: 400;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .my-search:focus{
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(78 115 223 / 25%)
  }