<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="error mx-auto" data-text="404">204</div>
    <p class="lead text-gray-800 mb-5">No Content</p>
    <p class="text-gray-500 mb-0">
      It looks like 0 records in database ...
    </p>
    <a href="/">&larr; Back to Dashboard</a>
  </div>
</div>
<!-- /.container-fluid -->
