<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Reports</h6>
      </div>
  
      <div class="card-body">
        <div class="table-responsive"> 
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%" 
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Feature</th>
                <th>Content</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Time</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Feature</th>
                <th>Content</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Time</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <% reports.forEach(report => { %>
              <tr>
                <td><%= report.feature %></td>
                <td><%= report.content %></td>
                <td><%= report.model %></td>
                <td><%= report.serialNumber %></td>
                <td><%= report.time %></td>
                <td class="align-items-center">
                  <form
                    action="/reports/<%= report.id %>?_method=DELETE "
                    method="POST"
                    onsubmit="return validateForm()"
                    name="myform "
                  >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger mt-1">
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              <%}) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  