<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Forms</h6>
    </div>

    <div class="card-body">
      <!-- <button
      type="button"
      class="btn btn-light mb-2 border"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="bi bi-filter"></i>
      Filter
    </button>   -->
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable-forms"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Id</th>
              <th>MSSV</th>
              <th>Form</th>
              <th>Time</th>
              <th>Status</th>
              <th>Staff</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>MSSV</th>
              <th>Form</th>
              <th>Time</th>
              <th>Status</th>
              <th>Staff</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <% students.forEach(student => { %>
            <tr>
              <td><a href="/form/<%= student.id %>"><%= student.id %> </a></td>
              <td><%= student.mshv %></td>
              <td><%= student.type %></td>
              <td><%= student.time %></td>
              <% if (student.status==0) { %>
              <td class="bg-primary text-light text-center">Processing</td>
              <% }else if (student.status==1) { %>
              <td class="bg-success text-light text-center">Approved</td>

              <% }else if(student.status==2){ %>
              <td class="bg-danger text-light text-center">Reject</td>
              <%}%>
              <td><%= student.staff %></td>
              <td class="align-items-center">
                <form
                  action="/form/<%= student.id %>?_method=DELETE "
                  method="POST"
                  
                  onsubmit="return validateForm()"
                  name="myform "
                >
                  <input type="hidden" name="_method" value="DELETE" />
                  <input type="hidden" name="status" value="<%=student.status%>" />
                  <button type="submit" class="btn btn-danger mt-1">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <%}) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--modal-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Form filter</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/manager "
          method="GET"
          id="filter"
        >
          <div class="row mb-3">
            <label for="mssv" class="col-sm-2 col-form-label">Mssv: </label>
            <div class="col-sm-10">
              <input
                type="search"
                name="search_mssv"
                placeholder="MSSV"
                value="<%= search_mssv %>"
                class="form-control mr-sm-2"
                id="mssv"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="type" class="col-sm-2 col-form-label">Mẫu đơn:</label>
            <div class="col-sm-10">
              <select
                class="form-select"
                id="type"
                name="search_don"
                aria-label="Default select example"
              >
                <option>Tất cả</option>
                <option>Đơn tạm hoãn nghĩa vụ quân sự</option>
                <option>Giấy chứng nhận sinh viên</option>
                <option>Đơn xin gia hạn học phí</option>
                <option>Đơn xác nhận đóng học phí</option>
                <option>Đơn đăng ký học lại-thi lại</option>
                <option>Đơn xác nhận nợ môn học</option>
                <option>Đơn xin vay vốn ngân hàng chính sách</option>
                <option>Đơn cam kết trả nợ học phí</option>
                <option>Đơn xin cấp bù học phí</option>
                <option>Giấy xác nhận miễn giảm học phí ngành độc hại</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="status" class="col-sm-2 col-form-label"
              >Trạng thái</label
            >
            <div class="col-sm-10">
              <select
                class="form-select"
                id="status"
                name="search_status"
                aria-label="Default select example"
              >
                <option selected value="-1">Tất cả</option>
                <option value="0">Processing</option>
                <option value="1">Approved</option>
                <option value="2">Rejected</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" form="filter">Tìm</button>
      </div>
    </div>
  </div>
</div>
