<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-header">
      <h6 class="m-0 font-weight-bold text-primary">Gallery</h6>
    </div>
    <div class="card-body">
      <div class="row" style="text-align: right;">
        <label>
          Search
        <input
          type="text"
          id="myInput"
          onkeyup="myFunction()"
          placeholder
          class="my-search"
        />
      </label>
      </div>
      <hr class="sidebar-divider d-none d-md-block" />
      <div class="row" id="my-card">
        <% imgArrays.forEach(element => { %>
        <div class="col-2 img-col">
          <div class="card mb-4 gallery-vido">
            <div class="card-header"><%= element.userId%></div>
            <div class="card-body">
              <a target="_blank" href="uploads/<%-element.img%>">
                <img
                  src="uploads/<%- element.img %> "
                  alt="<%- element.userId%>'s image"
                  class="img-fluid"
                />
              </a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
