<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-header">Form details</div>
    <div class="card-body">
      <table class="table">
        <% for( const element in report ) { %>
          <tr>
            <th><%= element %> </th>
            <td><%= report[element] %> </td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>
</div>
  