<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-7">
      <div class="card mb-4">
        <div class="card-header">Form details</div>
        <div class="card-body">
          <table class="table">
            <% for( const element in student ) { %> 
              <% if (typeof student[element] === "object") { %> 
                <% for( const element2 in student[element] ) { %>
                  <% if (student[element][element2]!==null && student[element][element2]!=="" ) { %>
                    <tr>
                      <th><%= element2 %></th>
                      <td id="<%=element2%>"><%= student[element][element2]%></td>
                    </tr>
                  <% } %> 
                <% } %> 
              <% } else {%> 
                  <% if (student[element]!==null && student[element]!=="") { %>
                    <tr>
                      <th><%= element %></th>
                      <td  id="<%=element%>"><%= student[element]%></td>
                    </tr>
                  <% } %> 
              <% } %> 
            <% } %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-5">
      <div class="card mb-4" style="position: sticky;top:0">
        <div class="card-header">Actions</div>
        <input
        type="text"
        id="staff"
        style="width: 100%"
        placeholder="Người xử lý"
        />
        <div class="card-body text-center">
          <form
          action="/form/<%= id %> "
          method="POST"
          onsubmit="return canApproved()"
          id="approved"
        >
          <input type="hidden" name="status" value="1" />
          <input type="hidden" name="reason_reject" value="không" />
          <input type="hidden" name="staff" id="staff_approved"/>
          <button
            type="submit"
            class="btn btn-primary mt-1"
            style="width: 40%;"
          >
            Đồng ý
          </button>
        </form>
          <button
            type="button"
            class="btn btn-danger mt-1"
            style="width: 40%;"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            Từ chối
          </button>
          <br>
          <button
            type="button"
            class="btn btn-success mt-1"
            style="width: 40%;"
            onclick="generate()"
          >
            In Mẫu Đơn
          </button>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal1 -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lý do</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="/form/<%= id %> "
          method="POST"
          id="rejected"
          onsubmit="return canRejected()"
        >
          <input type="hidden" name="status" value="2" />
          <input type="hidden" name="staff" id="staff_rejected"/>
          <input
            type="text"
            name="reason_reject"
            id="reason_reject"
            style="width: 100%"
            placeholder="lý do"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" form="rejected">
          Từ chối
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.29.0/docxtemplater.js"></script>
<script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
<script src="https://unpkg.com/pizzip@3.1.1/dist/pizzip-utils.js"></script>
<script src="../../assets/js/word.js"></script>
<!--
Mandatory in IE 6, 7, 8 and 9.
-->
<!--[if IE]>
    <script
        type="text/javascript"
        src="https://unpkg.com/pizzip@3.1.1/dist/pizzip-utils-ie.js"
    ></script>
<![endif]-->