<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
		<a href="/maintenance" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
			<i class="fas fa-tools fa-sm text-white-50"></i> 
			Bảo trì
		</a>
	</div>
	<!-- Content Row -->
	<div class="row">
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Tổng số đơn</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"><%- counters.totalForms.counters %></div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Tổng số reports</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"><%-counters.totalReports%></div>
						</div>
						<div class="col-auto">
							<i class="fas fa-bug fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Số đơn đã xử lý
							</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
										<%= Math.round((counters.totalForms.approve+counters.totalForms.reject)*100/counters.totalForms.counters) %>%
									</div>
								</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar"style="width: <%= Math.round((counters.totalForms.approve+counters.totalForms.reject)*100/counters.totalForms.counters)  %>% " aria-valuenow="90" aria-valuemin="0"
											aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								Số đơn chưa xử lý</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"><%- counters.totalForms.pending%></div>
						</div>
						<div class="col-auto">
							<i class="fas fa-comments fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Content Row -->

	<div class="row">

		<!-- Area Chart -->
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Build Version</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<table class="table">
						<thead>
						  <tr>
							<th scope="col"></th>
							<th scope="col">Student</th>
							<th scope="col">Lecturer</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">Android</th>
							<td><%= counters.buildVersion.studentAndroid%></td>
							<td><%= counters.buildVersion.lectureAndroid%></td>
						  </tr>
						  <tr>
							<th scope="row">IOS</th>
							<td><%= counters.buildVersion.studentIos%></td>
							<td><%= counters.buildVersion.lectureIos%></td>
						  </tr>
						</tbody>
					</table>					  
				</div>
			</div>
		</div>

		<!-- Pie Chart -->
		<div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Biểu đồ mẫu đơn</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<div class="chart-pie pt-4 pb-2">
						<canvas id="myPieChart"></canvas>
					</div>
					<div class="mt-4 text-center small">
						<span class="mr-2">
							<i class="fas fa-circle text-success"></i> Approve
						</span>
						<span class="mr-2">
							<i class="fas fa-circle text-danger"></i> Reject
						</span>
						<span class="mr-2">
							<i class="fas fa-circle text-primary"></i> Processing
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

<p id="index-chart-approve" hidden><%= counters.totalForms.approve%></p>
<p id="index-chart-reject" hidden><%= counters.totalForms.reject%></p>
<p id="index-chart-pending" hidden><%= counters.totalForms.pending%></p>
<!-- /.container-fluid -->