<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-7 col-lg-9 col-md-6">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <%if(message.length >0) {%>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <%= message %>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <% } %>
        <div class="row">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            <form
              class="user"
              action="/login"
              method="POST"
            >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  id="exampleInputEmail"
                  aria-describedby="emailHelp"
                  name="username"
                  placeholder="Enter Username..."
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control form-control-user"
                  id="exampleInputPassword"
                  name="password"
                  placeholder="Password"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                Login
              </button>
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
