<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class=".text-gray-900 font-weight-bold">Lịch sử bảo trì</h4>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-4">
        <div class="card-body text-center">
          <button class="btn btn-primary btn-icon-split" data-bs-toggle="modal" data-bs-target="#maintenanceModal" onclick="myfunct()">
            <span class="icon text-white-50">
                <i class="fas fa-calendar-alt"></i>
            </span>
            <span class="text">Đặt lịch bảo trì</span>
          </button>
        <div class="my-2"></div>
        <a href="#" class="btn btn-primary btn-icon-split">
          <span class="icon text-white-50">
              <i class="fas fa-calendar-check"></i>
          </span>
          <span class="text">Kết thúc bảo trì</span>
      </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="maintenanceModal" tabindex="-1" aria-labelledby="maintenanceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="maintenanceModalLabel">Đặt lịch bảo trì</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="scheduled">
          <div class="row mb-3">
            <label for="inputDate" class="col-sm-3 col-form-label">Thời gian</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="inputDate" onload="myfunct()">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Lí do</label>
            <div class="col-sm-9">
              <textarea class="form-control" form="scheduled" style="resize: none;" rows="3"></textarea>
            </div>
          </div>
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-3 pt-0">Radios</legend>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="versions" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Student Android</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="versions" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Lecturer Android</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="versions" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Student IOS</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="versions" value="option4">
                    <label class="form-check-label" for="inlineCheckbox4">Lecturer IOS</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check-all" >
                <label class="form-check-label" for="check-all">Select all/Deselect all</label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="scheduled">Đặt lịch</button>      
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById('check-all').onclick = function(){
  var checkboxes = document.getElementsByName('versions')
  for(var checkbox of checkboxes){
    checkbox.checked=this.checked
  }
}
</script>