  <div class="container-fluid">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="m-0 font-weight-bold">Build version</h5>
      </div>
      <div class="card-body">
      <form action="/version/manager" method="POST" enctype="multipart/form-data" onsubmit="return confirmUpdate()" id="versionForm">
        <div class="row mb-3">
          <label for="student_version_android" class="col-sm-2 col-form-label">Student Android version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="student_version_android" name="student_version_android" value=<%= version.student_android %> >
          </div>
        </div>
        <div class="row mb-3">
          <label for="student_version_ios" class="col-sm-2 col-form-label">Student IOS version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="student_version_ios" name="student_version_ios" value=<%= version.student_ios %>>
          </div>
        </div>
        <div class="row mb-3">
          <label for="lecture_version_android" class="col-sm-2 col-form-label">Lecture Android version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lecture_version_android" name="lecture_version_android" value=<%= version.lecture_android %>>
          </div>
        </div>
        <div class="row mb-3">
          <label for="lecture_version_ios" class="col-sm-2 col-form-label">Lecture IOS version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lecture_version_ios" name="lecture_version_ios" value=<%= version.lecture_ios %>>
          </div>
        </div>
        <div class="text-center">
        <button type="button" class="btn btn-secondary" onclick="resetForm()">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>      
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="m-0 font-weight-bold">Version</h5>
      </div>
      <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data" onsubmit="return confirmUpdate()" id="versionForm">
        <div class="row mb-3">
          <label for="student_version_android" class="col-sm-2 col-form-label">Student Android version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="student_version_android" name="student_version_android" value=<%= version.student_android %> >
          </div>
        </div>
        <div class="row mb-3">
          <label for="student_version_ios" class="col-sm-2 col-form-label">Student IOS version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="student_version_ios" name="student_version_ios" value=<%= version.student_ios %>>
          </div>
        </div>
        <div class="row mb-3">
          <label for="lecture_version_android" class="col-sm-2 col-form-label">Lecture Android version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lecture_version_android" name="lecture_version_android" value=<%= version.lecture_android %>>
          </div>
        </div>
        <div class="row mb-3">
          <label for="lecture_version_ios" class="col-sm-2 col-form-label">Lecture IOS version:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lecture_version_ios" name="lecture_version_ios" value=<%= version.lecture_ios %>>
          </div>
        </div>
        <div class="text-center">
        <button type="button" class="btn btn-secondary" onclick="resetForm()">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>      
    </div>
  </div>